@font-face {
  font-family: "iconfont"; /* Project id 3358765 */
  src: url('iconfont.woff2?t=1650969973779') format('woff2'),
       url('iconfont.woff?t=1650969973779') format('woff'),
       url('iconfont.ttf?t=1650969973779') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e615";
}

.icon-jianli:before {
  content: "\e677";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-xiangce:before {
  content: "\e629";
}

